{% extends 'header.html' %}

    <title>{% block title %} | انظم الى Epic Coders{% endblock %}</title>

{% block content %}
    
    <a href="{{ url_for('Home') }}"><h1>Home</h1></a>
    
    <form action="", method="POST">

        {{ form.hidden_tag() }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <h1>{{ error }}</h1>
            {% endfor %}
        {% endif %}
        {{ form.username.label() }}
        {{ form.username() }}

        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <h1>{{ error }}</h1>
            {% endfor %}
        {% endif %}
        {{ form.password.label() }}
        {{ form.password() }}

        {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
                <h1>{{ error }}</h1>
            {% endfor %}
        {% endif %}
        {{ form.confirm_password.label() }}
        {{ form.confirm_password }}

        {% if form.errors %}
            {% for error in form.submit_button.errors %}
                <h1>{{ error }}</h1>
            {% endfor %}
        {% endif %}
        {{ form.submit_button() }}
    </form>

{% endblock %}