{% extends "header.html" %}

{% block content %}

<style type="text/css">
        .card:hover{-webkit-box-shadow: 10px 10px 80px -2px rgba(0,0,0,0.78);
        -moz-box-shadow: 10px 10px 80px -2px rgba(0,0,0,0.78);
        box-shadow: 10px 10px 80px -2px rgba(0,0,0,0.78); transition: 0.4s ease-in-out 0s;}
</style>


<nav class="main-nav-outer" id="test">
                <!--main-nav-start-->
                <div class="container">
                    <ul class="main-nav">

                            {% if current_user.is_authenticated %}
							<li><a href="{{ url_for('token_hex_input') }}">redeem course token</a></li>
                            {% else %}
                            <li><a href="{{ url_for('login') }}">login</a></li>
                            <li><a href="{{ url_for('register') }}">sign up</a></li>
                            {% endif %}
							<li><a href="{{ url_for('Home') }}">Home</a></li>
							
							<li class="small-logo"><a href="{{ url_for('Home') }}"><img src="{{ url_for('static', filename='images/homeimges/small-logo.png') }}" alt=""></a></li>

							<li><a href="#">My Teams</a></li>
							<li><a href="{{ url_for('account') }}">my Account</a></li>
							
                      
                    </ul>
                    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
  
            <br /><br />


            <center>
                <main class="container p-10 ">
                    <div class="row p-3 align-items-center">
                        {% for course in courses %}
                            <div class="card col-xl-3 col-md-5 m-5  col-sm-9">
                                <img class="card-img-top Container-fluid mt-3" src="{{ url_for('static', filename='images/courses') }}/{{course.image}}" alt="Card image cap" height="200">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ course.course_name }}</h4>
                                        <h3 class="card-title">{{ course.course_field }}</h3>
                                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                        <h5 class="card-title">{{ course.course_accessibility }}</h5>
                                        <a href="{{ url_for('course', course_id=course.id) }}" class="btn btn-primary">Go to the course</a>
                                    </div>
                                </div>
                        
                        {% endfor %}
        </center>


{% include 'includes/include_mobile.html' %}
{% endblock content %}