{% extends "header.html" %}

{% block content %}
<nav class="main-nav-outer" id="test">
                <!--main-nav-start-->
                <div class="container">
                    <ul class="main-nav">

                            {% if current_user.is_authenticated %}
							<li><a href="#">about the course system</a></li>
                            {% else %}
                            <li><a href="{{ url_for('login') }}">login</a></li>
                            <li><a href="{{ url_for('register') }}">sign up</a></li>
                            {% endif %}
							<li><a href="{{ url_for('Home') }}">Home</a></li>
							
							<li class="small-logo"><a href="{{ url_for('Home') }}"><img src="{{ url_for('static', filename='images/homeimges/small-logo.png') }}" alt=""></a></li>

							<li><a href="#">my team</a></li>
							<li><a href="{{ url_for('account') }}">my Account</a></li>
							
                      
                    </ul>
                    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
  
            <br /><br />


            <center>
            {% for course in courses %}
                <a = href="{{ url_for('course', course_id=course.id) }}"><h1>{{ course.course_name }}</h1>
                <br />  
                    <h2>{{ course.course_major }}</h2></a>
                <br />
                <br />
            {% endfor %}
        </center>


{% include 'includes/include_mobile.html' %}
{% endblock content %}