{% extends "header.html" %}

{% block content %}

<style type="text/css">
              body {
              background-image: url("{{ image_file }}");
              background-color: #cccccc;
            }
        </style>

<nav class="main-nav-outer" id="test">
                <!--main-nav-start-->
                <div class="container">
                    <ul class="main-nav">

							<li><a href="{{ url_for('account') }}">My Account</a></li>
							<li><a href="#">My Team</a></li>
							<li><a href="{{ url_for('Home') }}">Home</a></li>
							
							<li class="small-logo"><a href="{{ url_for('Home') }}"><img src="{{ url_for('static', filename='images/homeimges/small-logo.png') }}" alt=""></a></li>
                          
							<li><a href="#">about the course</a></li>
							<li><a href="{{ url_for('courses') }}">Courses</a></li>
							
                      
                    </ul>
                    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
  
            <br /><br />


            <center>
     
               <h1>{{ course.course_name }}</h1>
                <br />
                <!-- <img src="{{ image_file }}" alt=""> -->
                <br /><br /><br /><br /><br /><br /><br /><br />
                {% if episodes %}
                  <main class="container p-10 ">
                    <div class="row p-3 align-items-center">
                        {% for episode in episodes %}
                            <div class="card col-xl-3 col-md-5 m-5  col-sm-9">
                                <img class="card-img-top Container-fluid mt-3" src="{{ url_for('static', filename='images/episodes') }}/{{episode.image}}" alt="Card image cap" height="200">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ episode.episode_name }}</h4>
                                        <a href="{{ url_for('episode', course_name=course_slug, episode_id=episode.id) }}" class="btn btn-primary">Go to the episode</a>
                                    </div>
                                </div>
                            
                        {% endfor %}
                {% else %}
                  <h1>No episodes posted yet</h1>
                {% endif %}
                <br /><br />

                {% if subscribe_form %}
                <form action='' method="POST">
                    {{ subscribe_form.hidden_tag() }}
                    {{ subscribe_form.submit() }}
                     {% for error in subscribe_form.submit.errors %}
                        <h1>submit {{ error }}</h1>
                    {% endfor %}
              </form>
                {% endif %}
                {% if form %}
                <form action='' method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ form.episode_name.label() }}
                    {{ form.episode_name() }}
                    <br /><br />
                     {% for error in form.episode_name.errors %}
                        <h1>episode_name {{ error }}</h1>
                    {% endfor %}
                    <br /><br />
                    {{ form.picture.label() }}
                    {{ form.picture() }}
                     {% for error in form.picture.errors %}
                        <h1>picture {{ error }}</h1>
                    {% endfor %}
                    <br /><br />
                    {{ form.video.label() }}
                    {{ form.video() }}
                     {% for error in form.video.errors %}
                        <h1>video {{ error }}</h1>
                    {% endfor %}
                    <br /><br />
                    {{ form.description.label(cols="15", rows="10") }}
                    {{ form.description() }}
                     {% for error in form.description.errors %}
                        <h1>description {{ error }}</h1>
                    {% endfor %}
                    <br /><br />
                    {{ form.text.label() }}
                    {{ form.text(cols="35", rows="20") }}
                     {% for error in form.text.errors %}
                        <h1>text {{ error }}</h1>
                    {% endfor %}
                    <br /><br />
                    {{ form.submit() }}
                     {% for error in form.submit.errors %}
                        <h1>submit {{ error }}</h1>
                    {% endfor %}
                    <br /><br />

                </form>
              <br /><br />
              <h1>Subscribers</h1>
              {% for user in users %}
                <h2>{{ user.username }}</h2>
              {% endfor %}
              {% endif %}


              <br /><br /><br />
              {% if does_own_course %}
              <h4>{{ course.course_unique_string }}</h4>
              {% endif %}
              <br /><br /><br />
              {% if delete_course_form %}
              <form action='' method="POST">
                    {{ delete_course_form.hidden_tag() }}
                    <br /><br />
                    {{ delete_course_form.name.label(style='color: red;') }}
                    {{ delete_course_form.name() }}
                    {{ delete_course_form.submit() }}
                     {% for error in delete_course_form.submit.errors %}
                        <h1>submit {{ error }}</h1>
                    {% endfor %}
              </form>
              {% endif %}
        </center>


{% include 'includes/include_mobile.html' %}
{% endblock content %}