{% extends "header.html" %}

{% block content %}
<nav class="main-nav-outer" id="test">
                <!--main-nav-start-->
                <div class="container">
                    <ul class="main-nav">

							<li><a href="{{ url_for('courses') }}">courses</a></li>
							<li><a href="{{ url_for('Home') }}">Home</a></li>
							
							<li class="small-logo"><a href="{{ url_for('Home') }}"><img src="{{ url_for('static', filename='images/homeimges/small-logo.png') }}" alt=""></a></li>

							<li><a href="{{ url_for('account') }}">my account</a></li>
							<li><a href="#">my team</a></li>
                            <li><a href="{{ url_for('course', course_id=episode.course_id) }}">course</a></li>
							
                      
                    </ul>
                    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
  
            <br /><br />


            <center>
     
               <h1>{{ episode.episode_name }}</h1>
                <br />
                <img src="{{ image_file }}" alt="">

                <br />
                    <h1>{{ episode.description }}</h1>
                <br />

                    {{ episode.video|safe }}

                <br /><br />
                <h3>{{ episode.text }}</h3>
                <br /><br /><br />
                {% if delete_episode_form %}
                <form action='' method="post">
                    {{ delete_episode_form.hidden_tag() }}
                    {{ delete_episode_form.name.label(style='color: red;') }}
                    {{ delete_episode_form.name() }}
                    {{ delete_episode_form.submit() }}
                     {% for error in delete_episode_form.submit.errors %}
                        <h1>submit {{ error }}</h1>
                    {% endfor %}
                </form>
              {% endif %}

        </center>


{% include 'includes/include_mobile.html' %}
{% endblock content %}