{% extends "header.html" %}

{% block content %}
<nav class="main-nav-outer" id="test">
                <!--main-nav-start-->
                <div class="container">
                    <ul class="main-nav">

							<li><a href="#contact">Contact us</a></li>
							<li><a href="#">about the project</a></li>
							<li><a href="{{ url_for('Home') }}">Home</a></li>
							
							<li class="small-logo"><a href="#header"><img src="{{ url_for('static', filename='images/homeimges/small-logo.png') }}" alt=""></a></li>

							<li><a href="#">about the project</a></li>
							<li><a href="{{ url_for('login') }}">Courses</a></li>
							
                      
                    </ul>
                    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
  
            <br /><br />


            <center>
     
               <h1>{{ episode.episode_name }}</h1>
                <br />
                <img src="{{ image_file }}" alt="">

                <br />
                    <h1>{{ episode.description }}</h1>
                <br />

                    {{ episode.video|safe }}

        </center>


{% include 'includes/include_mobile.html' %}
{% endblock content %}