{% extends 'header.html' %}

  <title>{% block title %} | Login{% endblock %}</title>

{% block content %}
    <nav class="main-nav-outer" id="test">
                <!--main-nav-start-->
                <div class="container">
                    <ul class="main-nav">
                        <li><a href="{{ url_for('Home') }}">Home</a></li>
                        <li class="small-logo"><a href="{{ url_for('Home') }}"><img src="{{ url_for('static', filename='images/homeimges/small-logo.png') }}" alt=""></a></li>
                        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
  <div class="form">
    
      <ul class="tab-group">
        <li class="tab"><a href="register.html">Sign Up</a></li>
        <li class="tab active"><a href="login.html">Log In</a></li>
      </ul>
      

        
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form action="/" method="post" novalidate>
          
           <div class="field-wrap">
            <label>
              User Name <span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off"/>
           </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button class="button button-block">Log In</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="{{ ulr_for('static', filename='js/registerjs.js') }}"></script>
{% endblock %}